@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: rgb(138, 191, 189);
    background: radial-gradient(circle, rgba(138, 191, 189, 0.8492647058823529) 0%, rgba(138, 191, 189, 1) 100%);
    font-family: 'Baloo Bhai 2', cursive;
}

pre {
    color: rgb(224, 232, 219);
    font-size: 16px;
    font-family: 'Baloo Bhai 2', cursive;
}

.blbar {
    background-color: #0F1111;
    margin-top: 5px;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: -5px;
    margin-left: -5px;
}

.blbar a img {
    height: 55px;
    margin-top: 5px;
    margin-left: 19px;
    background-color: #0F1111;
    zoom: 1;
    transition: zoom 0.3ms ease;
}



#scbar {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-top: 5px;
    font-size: 15px;
    background-color: #0F1111;
    transition: font-size background-color 3ms ease;
}

#scbar :hover {
    font-size: 17px;
    background-color: rgb(239, 238, 227);
}

input {
    width: 363px;
    background: color #f0f8ff;
    zoom: 1;
    font-size: 16px;
}



input,
#scbut {
    border-radius: 20px;
    height: 25px;
    border: 1.5px solid rgb(236, 238, 224);
}



#scbut {
    background-color: rgb(202, 194, 41);
    width: 81px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: inherit;
    font-size: 16px;
    transition: font-size background-color 3ms ease;
}

#scbut:hover {
    font-size: 17px;
    background-color: rgb(230, 223, 99);
}

#shic {
    height: 30px;
    border-radius: 40px;
    background-color: black;
}

.orderbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
    width: 562px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #0F1111;
    position: static;
}

#account,
#orders {
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: aliceblue;
    background-color: #0F1111;
    font-family: 'Baloo Bhai 2', cursive;
    transition: text-decoration 3ms ease;
    padding: 5px;
}



#orders :hover {
    text-decoration-line: underline;
}

#account :hover {
    text-decoration-line: underline;
}

#shopicon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    background-color: #0F1111;
    padding: 5px;
    zoom: 1;
    transition: zoom 0.3ms ease;
}

#shopicon :hover {
    zoom: 1.03;
}

.bar2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #232F3E;
    justify-content: space-evenly;
    color: beige;
    height: 50px;
}

#bar22 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    color: beige;
    text-decoration: none;
    transition: text-decoration 3ms ease;
}

#bar22 a:hover {
    text-decoration-line: underline;
}


#bar2link a {
    color: aliceblue;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#bar21 {
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bar21 select {
    height: 32px;
    background-color: #232F3e;
    width: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border-color: transparent;
}

.hero {
    height: 500px;
    background-image: url(/img/hero_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero img {
    height: 500px;
    zoom: 1.35;
    margin-left: -136px;
    z-index: -1;
}

.box {
    margin-top: 10px;
    z-index: 500;
    display: flex;
    flex-direction: row;
    height: 400px;
}

.boxes {
    margin: 30px 2.5%;
    background-color: rgb(218, 232, 235);
    height: 400px;
    width: 20%;
    z-index: 1000;
    border-radius: 7px;
    opacity: 0.8;
    zoom: 1;
    transition: zoom 0.3ms ease;
}

.boxes:hover {
    zoom: 1.02;
}


.box2 {
    margin-top: 50px;
    z-index: 500;
    display: flex;
    flex-direction: row;
    height: 400px;
}

.boxes img {
    width: 90%;
    height: 80%;
    margin: 5%;
}

.boxes h2 {
    margin: 5px 5px 5px;
    padding: 5px;
}

.foot1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #232F3E;
    margin-top: 100px;
    color: rgb(211, 213, 207);
}

#foot {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-bottom: 5%;
    margin-bottom: 5%;
    text-decoration: none;
    padding: 50px;
}

ul {
    list-style-type: none;
}

#foot p {
    font-size: 16;
    font-weight: bolder;
    color: rgb(211, 213, 207);
    transition: color 0.3ms ease;
}

#foot p :hover {
    color: #f0f8ff;
}

#foot li {
    font-size: 10;
    font-weight: lighter;
    color: rgb(211, 213, 207);
    transition: color 0.3ms ease;
}

#foot li:hover {
    color: #f0f8ff;
}

.foot2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #232F3E;
    transition: color 0.3ms ease;
}

.foot2 img {
    padding: 5px;
    height: 90px;
}

.copyright {
    background-color: black;
    color: rgb(207, 210, 197);
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2px;
    font-family: 'Baloo Bhai 2', cursive;
}